<div class="panel panel-primary">
  <div class="panel-heading">
    {{title}}
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Código</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <tr *ngFor="let dept of departments">
          <td>{{dept.id}}</td>
          <td>{{dept.codigo}}</td>
          <td>{{dept.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button id="btnCreate" type="submit" class="btn btn-primary" (click)="btnCreateClick();">Nuevo</button>
        </div>
      </div>
    </div>
  </div>
</div>