<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div *ngIf="errorMessage.length > 0">
    <div class="text-danger">{{ errorMessage }}</div>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="txtCode">Código</label>
        <input type="text" id="txtCode" class="form-control" placeholder="Código" (keyup)="onKeyUpCode($event);" />
      </div>
      <div class="form-group">
        <label for="txtName">Nombre</label>
        <input type="text" id="txtName" class="form-control" placeholder="Nombre" (keyup)="onKeyUpName($event);" />
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button id="btnCreate" type="submit" class="btn btn-primary" (click)="btnCreateClick();">Crear</button>
        </div>
        <div class="pull-left">
          <button id="btnCancel" type="submit" class="btn btn-danger" (click)="btnCancelClick();">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>