<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <div class="col-md-2">
      <div class="form-group">
        <label for="txtId">Identificador</label>
        <input type="number" id="txtId" class="form-control" placeholder="Identificador" [(ngModel)]="id" readonly="true" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="txtCode">Código</label>
        <input type="text" id="txtCode" class="form-control" placeholder="Código" [(ngModel)]="code" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="txtName">Nombre</label>
        <input type="text" id="txtName" class="form-control" placeholder="Nombre" [(ngModel)]="name" />
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button id="btnCreate" type="submit" class="btn btn-primary" (click)="btnCreateClick();">Modificar</button>
        </div>
        <div class="pull-left">
          <button id="btnCancel" type="submit" class="btn btn-danger" (click)="btnCancelClick();">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="message.length > 0">
  <div class="text-danger">{{ message }}</div>
</div>