<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Creación de transacción
      </div>
      <div class="panel-body">
        <div class="col-md-2">
          <div class="form-group">
            <label for="txtAccount">Cuenta</label>
            <input type="number" id="txtAccount" class="form-control" placeholder="Código" [(ngModel)]="account" readonly />
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="selOperation">Operación</label>
            <select [(ngModel)]="operation" id="selOperation" class="form-control">
              <option value="1">Débito</option>
              <option value="2">Crédito</option>
            </select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="txtAmount">Monto</label>
            <input type="number" id="txtAmount" class="form-control" placeholder="Monto" [(ngModel)]="amount" />
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button id="btnCreate" type="submit" class="btn btn-primary" (click)="btnCreateClick();">Crear transacción</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Tarjeta de crédito
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtPayCardNumber">Número de tarjeta</label>
            <input type="number" id="txtPayCardNumber" class="form-control" placeholder="Número de tarjeta" [(ngModel)]="cardNumber"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtPayAmount">Monto</label>
            <input type="number" id="txtPayAmount" class="form-control" placeholder="Monto" [(ngModel)]="cardAmount" />
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="creditCard != null">
            <table class="table">
              <thead>
                <th>ID</th>
                <th>Número</th>
                <th>Descripción</th>
                <th>Saldo</th>
                <th>Disponible</th>
              </thead>
              <tbody>
                <tr>
                  <td>{{creditCard.id}}</td>
                  <td>{{creditCard.numero}}</td>
                  <td>{{creditCard.descripcion}}</td>
                  <td>{{creditCard.saldo | currency}}</td>
                  <td>{{creditCard.disponible | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button id="btnValidate" type="submit" class="btn btn-primary" (click)="btnValidateClick();">Validar tarjeta</button>
              <button id="btnConsume" type="submit" class="btn btn-primary" (click)="btnConsumeClick();">Consumir tarjeta</button>
              <button id="btnPay" type="submit" class="btn btn-primary" (click)="btnPayClick();">Pagar tarjeta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">

        <div class="pull-left">
          <button id="btnCancel" type="submit" class="btn btn-danger" (click)="btnCancelClick();">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="message.length > 0">
  <div class="text-danger">{{ message }}</div>
</div>